<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Confirmation Email</title>
  </head>
  <body>
    <p>Hey {{name}},</p>
    
    <p>
      You and Rocket are on the brink of some pretty cool stuff, but first things first – we need 
      to make sure we're connected!
    </p>
    <p>
      Could you please take a quick moment to confirm your email address by clicking the 
      button below?
    </p>
       
    <a href={{link}} >{{link}}</a>

    <p>
      It's a tiny step for you, but a giant leap for our journey together. Your confirmation 
      ensures a smooth takeoff 🚀!
    </p>

    <p>
      Thanks a ton for your cooperation. If you encounter any hiccups or have questions, 
      don't hesitate to reach out.
    </p>
    <p>Best,</p>
    <p>The fetchrocket team 🌟</p>
  </body>
</html>
